<h2>Schoology Test by Rafael Coutinho</h2>

<form #myform="ngForm">
    <div class="autocomplete" style="width:400px;">
        <label class="user" for="search"><span class="hidden">Search here to auto complete your word: </span></label>
        <input #searchText (keyup)="getWords(searchText.value)" name="search" id="search" type="text" class="form-input" placeholder="Type your search here">
        <div id="myInputautocomplete-list" class="autocomplete-items" *ngIf="words.length > 0">
            <div *ngFor="let w of words;">{{w}}</div>
        </div>
    </div>
</form>